datacenter = "dc1"
data_dir = "/opt/nomad"
log_level = "DEBUG"
name = "{{ inventory_hostname }}"
bind_addr = "{{ ansible_eth1.ipv4.address }}"


{% if "servers" in group_names %}
server {
	enabled = true
	bootstrap_expect = 1
}
{% else %}
client {
	enabled = true
	network_interface = "eth1"
	alloc_dir = "/tmp/nomad-allocations"
    options = {
    "docker.volumes.enabled" = true
    }

}

plugin "docker" {
    config {
       allow_caps = [ "ALL" ]
    }
}


{% endif %}

